
body {
  background-color: lightgray;
}

h1 {
  text-align: center;
  color: darkblue;
  font-size: 32px;
  font-family: Arial, sans-serif;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid darkblue;
  border-radius: 4px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#resultado {
  background-color: white;
  color: darkblue;
  font-size: 16px;
  font-family: Arial, sans-serif;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid darkblue;
  border-radius: 4px;
  text-align: center;
}